.cart {
  position: relative;
}

.product-amount-display {
  position: absolute;
  background-color: red;
  color: white;
  padding: 1px 4px;
  border-radius: 50%;
  font-size: 0.4rem;
  top: 10px;
  left:-5px;

}