h1 {
  font-size: 2rem;
  text-align: center;
}

.hero {
  position: relative;
  height: calc(100vh - 50px);
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-children {
  position: absolute;
  top: 40%;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.hero-children-link-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.box {
  width: 100%;
  backdrop-filter: blur(3px);
}

.link-btn {
  border: 2px solid white;
  padding: 6px;
  color: white;
  text-decoration: none;
  position: relative;
  perspective: 400px;
  transform: translateZ(2px);
}

.link-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  transform: translate(-5px, -3px) translateZ(1px);
}

.categories-button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  white-space: nowrap ;
  justify-content: center;
  padding: 20px;
}

.category-loading {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  opacity: 1;
  margin: 0 auto;
  animation: pulse 0.7s infinite alternate;
}

@keyframes pulse {
  to {
    opacity: 0.3;
  }
}

@media (min-width: 426px) {
  .hero-children {
    font-size: 1.2rem;
  }
  
}

@media (min-width: 849px) {
  .hero-children {
    font-size: 1.5rem;
  }
}