/*  
*  Disables standard content-box sizing.
*
*/

*, *::before, *::after {
  box-sizing: border-box;
}


/*  
*  Removes all default margin sets the line height to meet WCAG criteria.
*
*/

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}


/*
* Removes default inline display for media and fits media to its container.
*
*/

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/*
* Form controls will use parent's font.
*
*/

input, button, textarea, select {
font: inherit;
}

/*
* Allows paragraphs to break words and add hyphens were necessary.
*
*/

p {
overflow-wrap: break-word;
hyphens: auto;
}


@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-BoldItalic.woff2') format('woff2'),
      url('./fonts/Arimo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-Bold.woff2') format('woff2'),
      url('./fonts/Arimo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-Regular.woff2') format('woff2'),
      url('./fonts/Arimo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-Italic.woff2') format('woff2'),
      url('./fonts/Arimo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-MediumItalic.woff2') format('woff2'),
      url('./fonts/Arimo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-Medium.woff2') format('woff2'),
      url('./fonts/Arimo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-SemiBold.woff2') format('woff2'),
      url('./fonts/Arimo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/Arimo-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Arimo-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root:has(.overflow-y-hidden) {
  overflow: hidden;
}

body {
  font-family: Arimo;
}