.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: black;
}

.title-and-cart {
  display: flex;
  gap: 30px;
  align-items: center;
}

